@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 228 95% 91%;
  --foreground: 0 0% 0%;
  --card: 216 56% 73%;
  --card-foreground: 0 0% 0%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 0%;
  --primary: 221 71% 60%;
  --primary-foreground: 0 0% 100%;
  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --border: 0 0% 0%;
  --input: 214.3 31.8% 91.4%;
  --ring: 221 71% 60%;
  --radius: 5px;
  --bg: 220 36% 91%;  /* This is for #dfe5f2 */
  --main: 220 70% 73%;  /* This is for #88aaee */
  --main-accent: 221 71% 60%;  /* This is for #4d80e6 */
  --text: 0 0% 0%;  /* This is for #000000 */
}

.dark {
  --background: 222 47% 18%;
  --foreground: 210 40% 98%;
  --card: 216 56% 73%;
  --card-foreground: 0 0% 0%;
  --popover: 224 71% 4%;
  --popover-foreground: 215 20.2% 65.1%;
  --primary: 217.2 91.2% 59.8%;
  --primary-foreground: 222.2 47.4% 11.2%;
  --secondary: 222.2 47.4% 11.2%;
  --secondary-foreground: 210 40% 98%;
  --muted: 223 47% 11%;
  --muted-foreground: 215.4 16.3% 56.9%;
  --accent: 216 34% 17%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;
  --border: 0 0% 0%;
  --input: 216 34% 17%;
  --ring: 224.3 76.3% 48%;
  --bg: 228 13% 18%;  /* This is for #272933 */
  --text: 60 6% 93%;  /* This is for #eeefe9 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
